
@{
    ViewBag.Title = "Gallery";
    ViewBag.Name = "Gallery";
}


@Html.Partial("banner1")

<!-- portfolio-inner-page -->
<div id="portfolio" class="portfolio">
    <div class="heading">
        <h3>Gallery</h3>
    </div>
    <div class="container">
        <div class="sap_tabs">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item"><span>Transport Area</span></li>
                    <li class="resp-tab-item"><span>Ship Transport</span></li>
                    <li class="resp-tab-item"><span>Truck Transport</span></li>
                    <li class="resp-tab-item"><span>Flight Transport</span></li>
                </ul>
                <div class="clearfix"> </div>
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content">
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid1">
                            <a href="images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h2>Transport Area</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid2">
                            <a href="images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/g4.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Transport Area</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid3">
                            <a href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Transport Area</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid4">
                            <a href="images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/g7.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Transport Area</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid5">
                            <a href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/g5.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Transport Area</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid6">
                            <a href="images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/g6.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Transport Area</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid6">
                            <a href="images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/g1.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Transport Area</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid6">
                            <a href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/g3.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Transport Area</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid6">
                            <a href="images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/g2.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Transport Area</h5>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab-1 resp-tab-content">
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid1">
                            <a href="images/ship1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/ship1.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Ship Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid2">
                            <a href="images/ship2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/ship2.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Ship Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid3">
                            <a href="images/ship3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/ship3.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Ship Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid4">
                            <a href="images/ship4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/ship4.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Ship Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid5">
                            <a href="images/ship5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/ship5.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Ship Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab-1 resp-tab-content">

                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid1">
                            <a href="images/train1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/train1.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Truck Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids  portfolio-grid2">
                            <a href="images/train2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/train2.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Truck Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids  portfolio-grid3">
                            <a href="images/truck3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/truck3.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Truck Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid1">
                            <a href="images/truck4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/truck4.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Truck Transport</h5>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid2">
                            <a href="images/truck5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/truck5.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Truck Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab-1 resp-tab-content">
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid1">
                            <a href="images/flight1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/flight1.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Flight Transport</h5>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid2">
                            <a href="images/flight2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/flight2.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Flight Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids  portfolio-grid3">
                            <a href="images/flight3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/flight3.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Flight Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid4">
                            <a href="images/flight4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/flight4.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Flight Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid4">
                            <a href="images/flight5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/flight5.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Flight Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 portfolio-grids portfolio-grid4">
                            <a href="images/flight6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                <img src="images/flight6.jpg" class="img-responsive zoom-img" alt="" />
                                <div class="b-wrapper">
                                    <h5>Flight Transport</h5>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //portfolio-inner-page -->

<!-- //js-scripts -->
 <!-- //here ends scrolling icon --><!-- start-smoth-scrolling -->