
@{
    ViewBag.Title = "banner1";
}

<div class="banner1">
</div>
<div class="about-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a><i>></i></li>
            <li>@ViewBag.Name</li>
        </ul>
    </div>
</div>