    <!-- team -->
<div class="team" id="team">
    <div class="container">
        <div class="heading">
            <h3>Our Team - Our People</h3>
        </div>
        <div class="wthree_team_grids">
            <p align="justify" style="font-size:150%;">
            Royal Cargo Express is managed by a team of dedicated and trained professional at every location.
            Who are available on a 24/7/365 basis. We are a company that never sleeps and which provides personalized services to
            all our clients. Our ability to deliver outstanding results for our clients start with our team of smart, capable PR experts.
            </p><p align="justify" style="font-size:150%;">
            A lot of the sites featured have unique, humorous or even campy takes on the more traditional "Meet the Team" format. 
            For some, this is done through the employee photos, while others have added in additional content that lets team members better express themselves. 
            Be aware, through, of how this information can come across to professionals from different industries. 
            It's also important to consider how a site's visitors will perceive a humorous or campy touch. While it adds personality, 
            if over done or done in the wrong industries, it can come across as unprofessional.
            </p>
          <!--
            <div class="col-md-3 wthree_team_grid">
                <div class="hovereffect">
                    <img src="@Url.Content("~/images/team1.jpg")" alt=" " class="img-responsive" />
                    <div class="overlay">
                        <h6>Transporters</h6>
                        <div class="rotate">
                            <p class="group1">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </p>
                            <hr>
                            <hr>
                            <p class="group2">
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <h4>Max Payne</h4>
                <p>Transport Dealer</p>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <div class="hovereffect">
                    <img src="@Url.Content("~/images/team2.jpg")" alt=" " class="img-responsive" />
                    <div class="overlay">
                        <h6>Transporters</h6>
                        <div class="rotate">
                            <p class="group1">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </p>
                            <hr>
                            <hr>
                            <p class="group2">
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <h4>Michael Lii</h4>
                <p>Transport Dealer</p>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <div class="hovereffect">
                    <img src="@Url.Content("~/images/team3.jpg")" alt=" " class="img-responsive" />
                    <div class="overlay">
                        <h6>Transporters</h6>
                        <div class="rotate">
                            <p class="group1">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </p>
                            <hr>
                            <hr>
                            <p class="group2">
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <h4>Mark</h4>
                <p>Transport Dealer</p>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <div class="hovereffect">
                    <img src="@Url.Content("~/images/team4.jpg")" alt=" " class="img-responsive" />
                    <div class="overlay">
                        <h6>Transporters</h6>
                        <div class="rotate">
                            <p class="group1">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </p>
                            <hr>
                            <hr>
                            <p class="group2">
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <h4>John smith</h4>
                <p>Transport Dealer</p>
            </div>
               -->
            <div class="clearfix"> </div>
        </div>
             
    </div>
</div>
<!-- //team -->